<!-- templates/posts/group_list.html -->

<!-- Добавление в базовый шаблон через extends -->>
{% extends 'base.html' %}
<!-- Блок с импортом заголовка из view-функции -->>
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <!-- Импорт описания из view-функции -->>    
    <h1>{{ description }}</h1>
    <!-- Цикл, который перебирает все записи, поданные на вход -->>
    {% for post in posts %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  </div>
{% endblock %}